@charset "utf-8";
/* CSS Document */

html {
    overflow-y: scroll;
    min-height: 100%;
}

body {
    position: relative;
    min-height: 100vh;
}

#page-container {
    padding: 0 0 10rem;
    min-height: 100vh;
}

.spacer {
    width: 100%;
    margin: 3em 0 0;
}

.custom-box {
    padding: 2em;

    border: 1px solid #4b5668;
    border-radius: 1em;
}

