<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
      <title>Log into {{groupformer.class_section}} by {{ groupformer.prof_name }}</title>

  </head>
  <body>

  <div id="page-container"> <!-- Same layout as response_screen.html -->
    <div id="container-fluid">
      <div class="row">
        <h1 class="display-4 text-center mx-auto d-block">{% if create_account %}Create Account{% else %}Login{% endif %}</h1>
      </div>
      <div class="container">
        <a class="btn btn-primary"
             href="{% if create_account %}{% url 'setup_screen:login_screen' %}{% else %}{% url 'setup_screen:create_account_screen' %}{% endif %}">
            {% if create_account %}Login Instead{% else %}Create Account Instead{% endif %}
        </a>
      </div>

      <div class="spacer"></div>

      <div class="row">
        <main role="main" class="col-8 mx-auto px-4">
        {% if error %}
          <div class="alert alert-danger" id="error-message" role="alert">{{ error }}</div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success" id="success-message" role="alert">{{ success }}</div>
        {% endif %}
          <form class="needs-validation"
                action="{% if create_account %}{% url 'setup_screen:create_account_endpoint' %}{% else %}{% url 'setup_screen:login_endpoint' %}{% endif %}"
                method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if create_account %}
            <div class="custom-form-box">
              <label for="first_name">First Name</label>
              <input type="text" class="form-control" name="first_name" id="first_name" required>
              <div class="invalid-feedback">Must complete this field.</div>
              <label for="last_name">Last Name</label>
              <input type="text" class="form-control" name="last_name" id="last_name" required>
              <div class="invalid-feedback">Must complete this field.</div>
            </div>
            {% endif %}
            <div class="custom-form-box"> <!--TODO: only Username & Password for login, rest for create_account-->
              <label for="username">Username</label>
              <input type="text" class="form-control" name="username" id="username" required>
              <div class="invalid-feedback">Must complete this field.</div>
            </div>
            {% if create_account %}
            <div class="custom-form-box">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" id="email" required>
              <div class="invalid-feedback">Must complete this field.</div>
            </div>
            {% endif %}
            <div class="custom-form-box">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" required>
              <div class="invalid-feedback">Must complete this field.</div>
            </div>
            {% if create_account %}
            <div class="custom-form-box">
              <label for="confirm_password">Confirm Password</label>
              <input type="password" class="form-control" name="confirm_password" id="confirm_password" required>
              <div class="invalid-feedback">Must complete this field.</div>
            </div>
            {% endif %}
            <br>
            <button type="submit" id="login-submit" class="btn btn-primary">Submit</button>
          </form>
        </main>
      </div>
    </div>
  </div>


  <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                    });
                }, false);
            })();
        </script>

        <!-- Bootstrap Scripts (STAY AT BOTTOM) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>