<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GroupFormer - Setup Screen</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <h1>Welcome to GroupFormer!</h1>
        <p>This is the Setup Screen, where you as an instructor/facilitator will be able to set up a form for participants to fill out and be assigned to groups</p>
        <h2>Projects</h2>
        <div class="container">
            <form>
                {% for project in projects %}
                <div class="card row">
                    <div class="card-body">
                        <div class="col-md-1">
                            <a href="{% url 'setup_screen:remove_project' forloop.counter %}" class="close" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="col-md-11">
                            <div class="form-group">
                                <label for="project-name{{ forloop.counter }}">Project Name</label>
                                <input type="text" class="form-control col-md-2" id="project-name{{ forloop.counter }}" placeholder="Name" value="{{ project.name }}">
                            </div>
                            <div class="form-group">
                                <label for="project-desc{{ forloop.counter }}">Project Description</label>
                                <textarea class="form-control" id="project-desc{{ forloop.counter }}" rows="3" placeholder="Description">{{ project.description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a href="{% url 'setup_screen:add_project' %}" class="btn btn-primary" id="add-project-btn">Add Project</a>
            </form>
        </div>
        <!-- TODO: Attributes -->
        <!-- TODO: Run Group Algorithm Button... this page? will Setup need to be different from like Instructor-View after the groupformer instance is created? -->
    </div>

</body>
</html>